@font-face {
    font-family: 'acc';
    src: url('fonts/acc-webfont.eot');
    src: url('fonts/acc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/acc-webfont.woff2') format('woff2'),
         url('fonts/acc-webfont.woff') format('woff'),
         url('fonts/acc-webfont.ttf') format('truetype'),
         url('fonts/acc-webfont.svg#accregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.images {
  width: 980px;
  #margin-left: auto;
  #margin-right: auto;
}

.image-info {
  margin-bottom: 10px;
  position: relative;
}

.image-info .image {
  width: 720px;
  text-align: right;
  #text-align: center;
}

.image-info .image img {
  max-width: 100%;
  height: auto;
}

.image-info .info {
  position: absolute;
  bottom: 0;
  
  margin-left: 730px;
  margin-bottom: -14px;
  width: 250px;

  font-size: 0.8em;
}

.image-info .info .title {
  font-family: acc;
}

.info p {
  margin-top: -10px;
}

.blank {
  padding-top: 350px;
}

